:root {
  --card-height: 250px;
}

.card {
  background-color: var(--color-lightest);
  color: var(--color-dark);
  box-shadow: var(--card-dropshadow);
  height: var(--card-height);
  width: 95%;
  max-width: 700px;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.card img {
  width: var(--card-height);
}

.card h3 {
  color: var(--color-darkest);
}

.down-half {
  transform: translateY(50%);
}

.slide-in-fifty {
  animation: slide-to-fifty ease-out 300ms;
}

@keyframes slide-to-fifty {
  from {
    opacity: 0;
    transform: translateY(80%);
  }
  to {
    opacity: 1;
    transform: translateY(50%);
  }
}

@keyframes slide-to-normal {
  from {
    transform: translateY(-20%);
  }
  to {
    transform: translateY(0);
  }
}

@media (max-width: 700px) {
  .card {
    height: 200px;
  }
  .card img {
    width: 200px;
  }
}

@media (max-width: 500px) {
  .card {
    height: 150px;
  }
  .card img {
    width: 100px;
  }
  .card h3, p {
    font-size: 14px;
  }
}