.down-half {
  transform: translateY(50%);
}

.podcast-img {
  width: 250px;
  height: 250px;
}

.slide-in-fifty {
  animation: slide-to-fifty ease-out 300ms;
}

@keyframes slide-to-fifty {
  from {
    opacity: 0;
    transform: translateY(80%);
  }
  to {
    opacity: 1;
    transform: translateY(50%);
  }
}

@keyframes slide-to-normal {
  from {
    transform: translateY(-20%);
  }
  to {
    transform: translateY(0);
  }
}

@media (max-width: 500px) {
  .podcast-img {
    height: 150px;
    width: 100px;
  }
}