:root {
  --h-font: 'Nunito', sans-serif;
  --p-font: 'Nunito', sans-serif;
  --normal-weight: 400;
  --bold-weight: 800;

  --color-primary: #07689f;
  --color-primary-dark: #49759c;
  --color-primary-alpha-50: rgba(104, 147, 186, .5);
  --color-secondary: #a2d5f2;
  --color-secondary-light: rgba(225, 181, 60, .26);
  --color-tertiary: #ff9d5b;
  --color-tertiary-light: #ffab9c;
  --color-tertiary-alpha30: rgba(255, 126, 103, 0.3);
  --color-light: #F1F2F6;
  --color-lightest: #ffffff;
  --color-gray: #dedede;
  --color-dark: #404e4d;
  --color-darkest: #1f2423;

  --border-radius: 8px;
  --card-dropshadow: 0 8px 80px 0 rgba(60,64,67,0.1);
  --card-dropshadow-feature: 0 8px 80px 0 rgba(60,64,67,0.2);
  --card-dropshadow-original: 0 1px 2px 0 rgba(60,64,67,0.3), 0 1px 3px 1px rgba(60,64,67,0.15);
  --card-height-large: 100px;
  --card-height-large: 250px;

  --modal-dropshadow: 0 2px 3px 0 rgba(60,64,67,0.3),0 6px 10px 4px rgba(60,64,67,0.15);
}

html {
  box-sizing: border-box;
}

html::selection {
  background-color: #009AFA;
  color: #FFFFFF;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fdfdff;
  color: var(--color-darkest);
  font-family: var(--p-font);
  font-weight: var(--normal-weight);
  overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
  font-family: var(--h-font);
  font-weight: var(--bold-weight);
  margin: 0;
}

h6 {
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-weight: var(--bold-weight);
  margin: 0;
}

input, textarea {
  background: none;
  border: none;
  font-family: var(--p-font);
  outline: none;
  color: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
}

ul, li {
  list-style: none;
  margin: 0;
}
