:root {
  --h-font: 'Lato', sans-serif;
  --p-font: 'Roboto', sans-serif;
  --normal-weight: 400;
  --bold-weight: 700;

  /* --color-primary: #c3423f; */
  --color-primary: #2b303a;
  --color-secondary: #9bc53d;
  --color-tertiary: #fdca40;
  --color-light: #f7f7f7;
  --color-lightest: #ffffff;
  --color-dark: #404e4d;  
  --color-darkest: #1f2423;

  --border-radius: 4px;
  --card-dropshadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
  --card-height-large: 100px;
  --card-height-large: 250px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: var(--color-light);
  color: var(--color-darkest);
  font-family: var(--p-font);
  font-weight: var(--normal-weight);
}

.page-container {
  max-width: 1000px;
  margin: 0 auto;
  clear: both;
  position: relative;
}

.hero, .hero-large {
  height: 200px;
  background-color: var(--color-primary);
  color: var(--color-light);
}

.hero-large {
  height: 400px;
}

@media (max-width: 500px) {
  .hero {
    height: 120px;
  }
}

.card {
  background-color: var(--color-lightest);
  color: var(--color-dark);
  box-shadow: var(--card-dropshadow);
  width: 95%;
  max-width: 700px;
  border-radius: var(--border-radius);
  max-height: 250px;
  overflow: hidden;
  z-index: 1000;
}

.card h3 {
  color: var(--color-darkest);
}

@media (max-width: 500px) {
  .card {
    max-height: 150px;
  }
  .card h3, p {
    font-size: 14px;
  }
}

h1, h2, h3, h4, h5 {
  font-family: var(--h-font);
  font-weight: var(--bold-weight);
}

h6 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: var(--bold-weight);
}

/* Background utilities */

.bg-primary {
  background-color: var(--color-primary);
}
.bg-secondary {
  background-color: var(--color-secondary);
}
.bg-tertiary {
  background-color: var(--color-tertiary);
}
.bg-light {
  background-color: var(--color-light);
}
.bg-lightest {
  background-color: var(--color-lightest);
}
.bg-dark {
  background-color: var(--color-dark);
}
.bg-darkest {
  background-color: var(--color-darkest);
}

/* Text color utilites */

.darkest {
  color: var(--color-darkest)
}
.dark {
  color: var(--color-dark)
}
.light {
  color: var(--color-light)
}
.lightest {
  color: var(--color-lightest)
}

/* image utilities */

.icon {
  object-fit: cover;
}

.icon-large {
  width: 2.5em;
  height: 2.5em;
}

.svg-bold {
  fill: var(--color-darkest);
}

.svg-soft {
  fill: var(--color-dark);
}

/* text utilities */

.overflow-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}

.no-wrap {
  white-space: nowrap;
}

/* button utilities */

.clickable {
  cursor: pointer;
}

/* link utilities */

a {
  text-decoration: none;
  color: unset;
}

/* animations */

.slide-in {
  animation: slide-in ease-out 300ms;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}